.contact_pageform {
  width: 100%;
  height: calc(100% - 200px);
  top: 100px;
  position: relative;

  .new_contact {
    width: 100%;
    height: 700px;
  }
  .form-group {

    background-color:white;
    width: 100%;
    height: 150px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;

    &__name {
      height: 39px;
      width: 330px;
      margin: 20px 0;
      border-radius: 4px;
    }
    &__email {
      height: 39px;
      width: 330px;
      margin: 20px 0;
      border-radius: 4px;
    }
    &__subject {
      height: 39px;
      width: 330px;
      margin: 20px 0;
      border-radius: 4px;
    }
    &__message {
      height: 280px;
      width: 40%;
      margin: 20px 0;
      border-radius: 4px;
    }
    &__send {
      width: 120px;
      display       : inline-block;
      border-radius : 5%;
      font-size     : 18pt;
      text-align    : center;
      cursor        : pointer;
      padding       : 12px 12px;
      background    : #ffffff;
      color         : black;
      line-height   : 1em;
      transition    : .3s;
      border        : 2px solid gray;  
      margin-left: 45px; 
    }
  }

  .form-group_contact {
    background-color:white;
    width: 100%;
    height: 300px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
  }

  .send_btn {
    height: 120px;
    width: 210px;
    margin: 27px auto 0;
    position: relative;
  }
}