%h3 お問い合わせ内容
\------------------------------------------------
%p
  email: #{@contact.email}
%p
  content: #{@contact.message}
\------------------------------------------------

-# %h1= class_name + "#" + @action

-# %p
-#   = @greeting + ", find me in app/views/contact_mailer/contact_mail.html.haml"
