.intro {
  width: 100%;
  height: calc(100% - 200px);
  top: 100px;
  position: relative;
}
  .bodyTop {
    width: 100%;
    height: 690px;
    position: absolute;

    &__pic {
      width: 63%;
      height: 100%;
      float: left;
      padding: 3%;
      display: flex;

      .c-imgOne {
        margin: 33px 20px;
        height: 50%;
        width: 50%;

      }
      .c-imgTwo {
        height: 50%;
        width: 42%;
        margin: 72px 15px;
      }
    }
    &__text {
      width: 36%;
      height: 100%;
      float: right;
      padding-right: 3%;

      &__header {
        padding: 30px 0;

        .chris-intro {
          font-size: 50px;
        }
        .chris-intro-sub {
          font-size: 15px;
          margin-bottom: 15px;
        }
        .about_c {
          font-size: 16px;
          text-align: left;
          line-height: 25px;
        }
      }
    }
  }


  .bodyMiddle{
    width: 100%;
    height: 690px;
    top: 690px;
    position: absolute;
    padding: 20px;

    .christines-experience {
      width: 780px;
      height: 570px;
      top: 700px;
      padding: 33px;

      .experi_titl {
        font-size: 30px;
        line-height: 33px;
      }
      .experi_c {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
  .bodyBottom {
    position: absolute;
    width: 100%;
    height: 900px;
    bottom: 120px;

    &__title {
      font-size: 30px;
      text-align: center;
      width: 100%;
      height: 60px;
      padding: 9px;
      
    }
    .christine-work {
      height: 740px;
      width: 100%;
      display: inline-block;
      top: 20px;
    }
    .app-img-part{
      float :left;
      height: 690px;
      width: 42%;
      margin-left: 6%;

      .fmarket-img {
        display: inline-block;
        padding-top: 33px;
        width: 100%;
        height: 50%;
      }
      .blog-img {
        display: inline-block;
        padding-top: 33px;
        margin-top: 30px;
        height: 50%;
        width: 100%;
      }
    }
    .app-text-part {
      float: right;
      width: 45%;
      height: 690px;
      padding-top: 33px;
      padding-right: 3%;

      &__sec_one {
        height: 350px;

        &__titl {
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__exp {
          font-size: 15px;
          padding: 6px;
          line-height: 21px;
        }
        &__Texp {
          font-size: 18px;
          padding: 6px;
          line-height: 21px;
        }
      }

      &__sec_two {
        height: 330px;
        padding-top: 27px;

        &__titl {
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__exp {
          font-size: 15px;
          padding: 6px;
          line-height: 18px;
        }
        &__Texp {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }