* {
  box-sizing: border-box;
}
@media only screen and (min-width:640px) and (max-width:1023px) {
  /*tablet用のcssを記述*/
  }

@media screen and (max-width:639px) {
    /*スマホ用のcssを記述*/
    .header-list {
      &__titl {
        width: 30px;
        font-size: 9px;
      }
      .ggg {
        font-size: 9px;
      }
    }

}
a {
  display: inline-block;
  text-decoration: none;
}
html{
  width: 100%;
  height: 2660px;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  background-color:white;
  color:black;
  top: 0;
  z-index: 1;
  position: fixed;
  border-bottom: 1px solid black;
  padding-top: 20px;
    .header-list {
      float:right;
      width: 480px;
      height: 100%;
      list-style:none;
      display: flex;

      &__titl {
        width: 150px;
        height: 100%;
        display: inline-block !important;
      }
      .ggg {
        text-decoration: none;
        color:black;
        font-size: 18px;
        padding: 10px;
      }
    }
  .header-logo{
  float:left;
  padding :10px 30px;
  font-size: 40px;

  &__title {
    text-decoration: none;
    display: inline-block;
    color:black;
  }
  }
  

}