.intro
  %section.intro__pic
    = image_tag 'pic_two.jpeg', alt: 'ipsa_lotiontwo', height: '350px', width: '480px'
    = image_tag 'pic_one.jpg', alt: 'ipsa_lotion',height: '', width: '480px'
  .intro__text
    %section.intro__text__header
      %h2.chris-intro
        Hata Christine
      %p.chris-intro-sub
        ハタ  クリスティーン
      %p.about_c
        1997.05.05
      %p.about_c
        2020年3月  関西外国語大学 外国語学部 英米語学科  卒業
      %p.about_c
        経験
      %p.about_c
      
  %section.christine-work
    .app-img-part
    .app-text-part
      .app-text-part__sec_one
        .app-text-part__sec_one__titl
          チーム開発でのフリマクローンアプリ
        .app-text-part__sec_one__exp
          メルカリを参考にチームで作成
      .app-text-part__sec_two
        .app-text-part__sec_two__titl
          ブログアプリ
          .app-text-part__sec_two__exp
            カリキュラムを参考に作成